.container {
    display: grid;
    width: 500px;
    height: 500px;
    gap: 20px;
}
.box1 {
    background-color: aqua;
    grid-column: 1/3;
}
.box2 {
    background-color: purple;
}
.box3 {
    background-color: pink;
}
.box4 {
    background-color: brown;
    grid-column: 1/3;
}